// Import Sass files.
@import 'import';

// Broad — Careful here.
// All filter form sort-bys.
div.form-item-sort-by {
  display: none;
}

// Exposed form block.
div.views-exposed-form.block-views {
  .form-type-textfield {
    width: 70% !important;
  }
}

// Browse Graduation Ceremonies view.
#views-exposed-form-browse-graduation-ceremonies-page-1 {
  // Break on Graduation Ceremony filter.
  .form-item-field-season-target-id {
    margin-right: 49%;
  }
}

// Browse Awards.
#views-exposed-form-browse-awards-page-1 {
  // Break on Search filter.
  .form-item-combine {
    margin-right: 24%;
    width: 73.5%;
  }
  // Break on Award Type filter.
  .form-item-field-award-type-target-id {
    margin-right: 24%;
  }
}

// Browse block.
div.views-exposed-form.block-views + div.block {
  p {
    margin: 0 !important;
  }
}

// Page title block.
div.block-page-title-block {
  h1 {
    text-align: left !important;
  }
}

// Main content block.
div.block-system-main-block {
  background-color: initial !important;

  #ceremony-link {
    margin-bottom: 2rem;
  }

  p {
    text-align: justify;
  }
}
