<div>

  <h1 class='template-ceremony'>{{ ceremony_output }}</h1>

  <h1>
    <b>{{ address_type }}</b><br>
    Delivered by {{ delivered_by }}
  </h1>

  <div>
    <br>{{ address_content | raw }}<br><br>
    <strong>
      Addresses may be reproduced for research purposes only. Publication in whole or in part requires        written permission from the author.
    </strong>
  </div>
</div>
