<div>

  <h1 class='template-ceremony'>{{ ceremony_output }}</h1>

  <h1>
    <b>{{ address_type }} Address</b><br>
    Delivered by {{ delivered_by }}
  </h1>

  <div>{{ address_content | raw }}</div>
</div>
