/* Variable overrides */
@use 'overrides/variables' as overrides;

/* Custom variables */
@use 'custom/variables' as custom;

/* Broad rules (careful) */
#page-wrapper {
  /* All in page (toolbar excluded) */
  margin: auto;
  padding: 1rem;
  /* All links */
  a {
    color: custom.$unb-darkred;
  }
}

/* Branding */
#block-bs5-graduations-lib-unb-ca-contextualbranding {
  .site-title {
    font-size: 2rem;
    color: custom.$unb-darkred;
  }
  .site-slogan {
    font-size: 1rem;
    color: custom.$unb-gray;
  }
}

/* Responsive */
@media screen and (width > 1300px) {
  /* All in page (toolbar excluded) */
  #page-wrapper {
    max-width: 1300px;
  }
}