// Variable overrides.
@use 'overrides/variables' as overrides;

// Custom variables.
@use 'custom/variables' as custom;

// Broad rules (careful)
#page-wrapper {
  // All in page (toolbar excluded)
  margin: auto;
  padding: 1rem;
  // All links
  a {
    color: custom.$unb-darkred;
  }
}

@media screen and (width > 1300px) {
  #page-wrapper {
    max-width: 1300px;
  }
}