/* Colors
gray 1: #F0F0F0;
gray 2: #DADADA;
gray 3: #555555;
gray 4: #333333;
red 1:  #C01700;
red 2:  #880404;
red 3:  #A01300;
/*

/* Global */

body {
  font-family: sans-serif;
  background: white;
}

div {
  box-shadow: none !important;
  border-radius: 0px !important;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

div.view-filters input, select {
  display: block !important;
  width: 176px !important;
  height: 36px !important;
}

div.view-filters label {
  display: block !important;
  width: 176px !important;
}

div.view-filters {
  padding: 20px !important;
}

div.view-filters #edit-actions {
  margin-top: 10px;
}

/* Hyperlinks */

.dialog-off-canvas-main-canvas a,
.dialog-off-canvas-main-canvas a:visited {
  color: #C01700;
}

.dialog-off-canvas-main-canvas a:active,
.dialog-off-canvas-main-canvas a:focus,
.dialog-off-canvas-main-canvas a:focus-within,
.dialog-off-canvas-main-canvas a:hover {
  text-decoration: underline;
  color: #880404;
}

#edit-name--description, #edit-pass--description {
  visibility: hidden;
}

#edit-name--description:before {
  visibility: visible !important;
  content: "Enter your UNB login ID.";
}

#edit-pass--description:before {
  visibility: visible !important;
  content: "Enter your password.";
}

#edit-preview {
  display: none !important;
}

div[aria-describedby='drupal-modal'] {
    width: 70% !important;
}

div[aria-describedby='drupal-modal'] input {
    width: 80% !important;
}

section#main {
  padding-top: 20px;
}

.node__content {
  padding-top: 20px;
}

th {
  padding-bottom: 10px !important;
}

select:focus option:checked {
  background: linear-gradient(#C01700,  #C01700) !important;
}

.page-title {
  margin: 0px !important;
}

/* Site title */

.region.region-branding a.name {
  font-size: 36px;
}

.region.region-branding p.navbar-text {
  margin-top: 0px;
}


div#block-pomp-subtheme-branding > div.site-name > a:hover, a:focus {
  color: #880404 !important;
  text-decoration: none;
}

/* Branding */

.region.region-branding {
  display: grid;
  margin-left: 16px;
}

/* Menu. */

#navbar {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #333333;
}

#navbar ul {
  background-color: #333333;
}

#navbar a,
#navbar a:hover,
#navbar a:focus,
#navbar a:visited,
#navbar a:link,
#navbar a:active {
  color: white !important;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

#navbar li a:hover,
#navbar li a:focus,
#navbar li a.is-active {
  background-color: #C01700;
}

/* Slideshow */

#slideshow {
  margin-top: 10px;
  margin-bottom: 0px;
}

#slideshow p {
  margin-bottom: 0px;
  border-bottom: 10px;
}

#views_slideshow_controls_text_rotating_banner-block_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  height: 100%;
  width: 100%;
}

#views_slideshow_controls_text_pause_rotating_banner-block_1 a {
  display: none;
}

#views_slideshow_controls_text_previous_rotating_banner-block_1 a {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

#views_slideshow_controls_text_previous_rotating_banner-block_1 a:after {
  visibility: visible !important;
  position: absolute;
  z-index: 100;
  top: 45%;
  left: 1%;
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  content: '\e251';
  color: white;
  opacity: .7;
}

#views_slideshow_controls_text_previous_rotating_banner-block_1 a:hover:after {
  opacity: 1;
}

#views_slideshow_controls_text_next_rotating_banner-block_1 a {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

#views_slideshow_controls_text_next_rotating_banner-block_1 a:after {
  visibility: visible !important;
  position: absolute;
  z-index: 100;
  top: 45%;
  right: 1%;
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  content: '\e250';
  color: white;
  opacity: .7;
}

#views_slideshow_controls_text_next_rotating_banner-block_1 a:hover:after {
  opacity: 1;
}

/* Task Menu */

.tabs a.is-active {
    background-color: #C01700 !important;
    color: white !important;
}

.tabs a:visited {
  color: inherit;
}

/* Main content */

#main > div {
  padding: 0px !important;
}

article.contextual-region.static-page.full.clearfix {
  margin-top: 10px;
}

/* Page title */

h1.js-quickedit-page-title.page-header {
  display: inline-block;
  margin-top: 20px;
  font-size: 30px;
}

/* "Traditions" page tables */

table#traditions-gowns th, table#traditions-gowns td,
table#traditions-hoods th, table#traditions-hoods td {
  border: 1px solid #555555;
  padding: .5em;
}

table#traditions-hoods, table#traditions-gowns {
  width: 80% !important;
}

/* Filters */

div.view-filters {
  background-color: #F0F0F0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 14px;
}

.form-item-sort-by {
  display: none !important;
}

label[for="edit-sort-order"],
label[for="edit-sort-by"] {
  display: none;
}

/* Break filter form on year and campus */

div.js-form-item-field-ceremony-year-value {
  display: block;
  clear: both;
}

div.js-form-item-field-list-campus-target-id {
  display: block;
  clear: both;
}

input#edit-submit-honorary-browse-degrees {
  display: inline !important;
}

/* Contact form */

.contact-message-feedback-form input {
  width: 330px;
}

input#edit-submit-honorary-browse-degrees,
input#edit-submit-honorary-browse-ceremonies,
input#edit-submit-browse-content,
input#edit-reset {
  display: inline;
}

input#edit-reset {
  margin-left: 4px;
}

/* Back to ceremony link */

.template-ceremony-link div span a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e251 ";
}

.template-ceremony-link div span a:hover {
  text-decoration: none !important;
}

.template-ceremony-link div span a:focus {
  text-decoration: none !important;
}

#block-pomp-subtheme-content blockquote {
  margin-top: 20px;
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 14px
}

div#block-pomp-subtheme-content a:link, a:visited {
  color: #C01700;
}

div#block-pomp-subtheme-content a:hover, a:focus {
  text-decoration: underline;
  color: #880404;
}

div.clearfix.text-formatted.field.field--type-text-with-summary
a:hover, a:focus {
  text-decoration: underline;
  color: #880404;
}

.template-ceremony {
  font-size: 16px !important;
}

/* Browse-search */

section.featured > div.container {
  padding: 0px !important;
}

#block-pomp-subtheme-bs-exposedformsearchpage-1 {
  float: left;
  margin-top: 10px;
  width: 70%;
  height: 8em;
  padding: 1.2em;
  background-color: #F0F0F0;
  border-right: 5px solid white;
}

label[for='edit-search-api-fulltext'] {
  margin-right: 10px;
  font-weight: normal;
}

#block-browse-2 {
  float: right;
  margin-top: 10px;
  width: 30%;
  height: 8em;
  padding: 1.2em;
  background-color: #F0F0F0;
  border-left: 5px solid white;
}

#edit-search-api-fulltext {
  width: 340px;
}

#edit-submit-search {
  margin-right: 0px;
  width: 90px;
}

#block-browse-2 .block-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}

#block-browse-2 p {
  margin-bottom: 0px;
}

/* Search Results */

li.search-results-item {
    margin: 0 0 0 1.5em !important;
    padding: .8em !important;
    border-bottom: 1px dotted #DADADA;
}

li.search-results-item:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}

li.search-results-item:hover {
  background-color: #F0F0F0 !important;
}

/* Browse Content */

#block-pomp-subtheme-content > div > div > div.view-content >
table.views-table.views-view-table.cols-5.sticky-enabled {
  width: 100%;
}

.pomp-browse-content-row td:nth-child(1) {
  width: 45%;
}

.pomp-browse-content-row td {
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: inherit !important;
}

tr.pomp-browse-content-row:nth-child(odd) {
  background-color: #F0F0F0 !important;
}

#views-exposed-form-browse-content-page-1 input:not([type="submit"]) {
  width: 330px;
}

/* Ceremony Node */

.ceremony-degree-list h3 {
  font-size: 1.1em;
}

/* Ceremony Edit */

div[data-drupal-selector="edit-field-ceremony-notes-0-format"] {
  display: none !important;
}

#node-honorary-ceremony-edit-form >
div.js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label
{
  display: none;
}

input#edit-submit {
  display: inline-block;
}

/* Address Edit */

div[data-drupal-selector="edit-field-address-content-0-format"] {
  display: none !important;
}

#node-honorary-address-edit-form >
div.js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label
{
  display: none;
}

/* Degree Edit */

div[data-drupal-selector="edit-field-citation-0-format"] {
  display: none !important;
}

div[data-drupal-selector="edit-field-degree-notes-0-format"] {
  display: none !important;
}

#node-honorary-degree-edit-form >
div.js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label
{
  display: none;
}

/* Page Edit */

div[data-drupal-selector="edit-body-0-format"] {
  display: none !important;
}

input[data-drupal-selector="edit-title-0-value"] {
  width: 33% !important;
}

#node-static-page-edit-form >
div.js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label
{
  display: none;
}

article.node--type-static-page img {
  padding: 20px;
}

/* Footer */

footer.footer.container {
  border-top: none;
}
div.region.region-footer {
  padding-top: 20px;
  border-top: 1px dotted #DADADA;
  font-size: 12px;
}

div.region.region-footer > div {
  width: 100% !important;
}

footer#footer a:link, a:visited {
  color: #C01700;
}

footer#block-honoraryfooter > a:hover, a:focus {
  text-decoration: underline;
  color: #880404;
}

#footer-logo {
  float: right;
}

#footer-menu {
  float: left;
}

#unb-lib-logo {
  width: 300px;
}

#block-useraccountmenu a:link,
#block-useraccountmenu a:visited {
  visibility: visible !important;
  color: #C01700 !important;
}

#block-useraccountmenu a:hover,
#block-useraccountmenu a:focus {
  text-decoration: underline !important;
  color: #880404 !important;
}

#block-useraccountmenu ul {
  text-align: left !important;
}

#block-useraccountmenu li {
  margin: 0px !important;
  padding: 0px !important;
}

/* Back to top button */

a.btn-btt {
  color: white !important;
}

/* Browse degrees */

.browse-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 100% !important;
  border: none !important;
}

.browse-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.browse-degree tr td:first-child {
  width: 80% !important;
  vertical-align: top !important;
  text-align: left !important;
}

.browse-degree tr td:last-child {
  vertical-align: top !important;
}

#edit-combine {
  width: 330px !important;
}

/* View degree */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 100% !important;
  border: none !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 80% !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

.photo-full {
  float: left !important;
}

.photo-full figure {
  width: 100% !important;
}

/* Rules related to "View address" view. */

.view-address .views-field-title b {
  font-size: 20px !important;
}

/* Rules related to "View degree" view. */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 60% !important;
  border: none !important;
}

.view-degree table strong {
  font-size: 20px !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 40% !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

.view-degree table ul {
  list-style-position: inside !important;
}

div.floated-fig {
  float: right;
  margin: 10px;
  padding: 10px;
}

.floated-fig figure {
  display: table !important;
  width: 200px;
  -webkit-margin-before: 0px !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  background-color: #F0F0F0 !important;
  border: 10px solid #F0F0F0 !important;
}

.view-degree figcaption {
  display: table-row !important;
  font-size: 12px;
}

@media(max-width: 991px) {
  #block-pomp-subtheme-bs-exposedformsearchpage-1,
  #block-browse-2 {
    width: 100%;
    height: 100%;
    border: 0px;
  }

  #block-pomp-subtheme-bs-main-menu .menu-item {
    background-color: #555555 !important;
  }

  #footer-logo {
    float: left;
    padding-top: 10px;
  }

  #drupal-modal {
  }
}

@media(max-width: 698px) {
  #views-exposed-form-search-page-1 > div >
  div.js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-sort-order.form-item-sort-order {
    display: block !important;
  }

  #edit-actions {
    clear: left !important;
  }
}

@media(max-width: 498px) {
  .floated-fig {
    float: none !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  div.js-form-item-search-api-fulltext {
    width: 100%;
  }

  #views-exposed-form-search-page-1 > div >
  div.js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-sort-order.form-item-sort-order {
    margin-top: 18px !important;
  }
}

@media(max-width: 390px) {
  #edit-combine {
    width: 125% !important;
  }
}
