/* Global rules */

/* Cover broken images (with WHITE) */

img {
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;

  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

img:after {
  content: attr(alt);
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

/* No serif fonts. */

body {
  font-family: sans-serif;
}

/* Rules related to "Browse Degrees" view. */

.browse-degree table {
  font-size: 87.5% !important;
  table-layout: fixed !important;
  width: 600px !important;
  border: none !important;
}

.browse-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: #FFFFFF !important;
}

.browse-degree tr td:first-child {
  width: 400px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.browse-degree tr td:last-child {
  vertical-align: top !important;
}

.browse-degree table ul {
  list-style-position: inside !important;
}

.browse-degree figure {
  display: table !important;
  width: 100px !important;
  -webkit-margin-before: auto !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: auto !important;
  -webkit-margin-end: 0px !important;
}

.browse-degree figcaption {
  display: table-row !important;
}

#views-exposed-form-honorary-browse-degrees-page-1 label {
  font-size: 87.5% !important;
}

#views-exposed-form-honorary-browse-degrees-page-1 input {
  width: 294px;
}

/* Rules related to "Browse Ceremonies" view. */

#views-exposed-form-honorary-browse-ceremonies-page-1 input {
  width: 294px;
}
