/* Var */

body {
  --pgray1: #F0F0F0;
  --pgray2: #DADADA;
  --pgray3: #555555;
  --pred1:  #C01700;
  --pred2:  #880404;
}

/* Global */

body {
  font-family: sans-serif;
  background: white;
}

div {
  box-shadow: none !important;
  border-radius: 0px !important;
}

input, select {
  display: block;
  width: 160px;
  height: 36px;
}

/* Site title */

div.site-name a {
  font-size: 40px;
}

div.site-name a:link, a:visited {
  color: var(--pgray3);
}

div#block-pomp-subtheme-branding > div.site-name > a:hover, a:focus {
  color: var(--pred2) !important;
}

/* Menu. */

li.menu-item a {
  height: 45px !important;
  color: white !important;
}

li.menu-item > a:focus {
  text-decoration: none !important;
  background-color: #a01300;
  background: -webkit-linear-gradient(top, #c01700, #a01300);
}

#main-menu .container ul.menu ul.menu li {
  width: 300px !important;
}

#main-menu {
  margin-bottom: 10px;
  font-size: 12px;
}

#main-menu .container ul.menu li > a {
  padding: 10px 20px 10px 10px !important;
}

/* Slideshow */

#slideshow {
  margin-bottom: 10px;
}

#slideshow p {
  margin-bottom: 0px;
  border-bottom: 10px;
}

/* Filters */

div.view-filters {
  background-color: var(--pgray1);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 14px;
}

/* Break filter form on year and campus */

div.js-form-item-field-ceremony-year-value {
  display: block;
  clear: both;
}

div.js-form-item-field-list-campus-target-id {
  display: block;
  clear: both;
}

div#edit-actions {
  padding-top: 1em !important;
}

/* Contact form */

.contact-message-feedback-form input {
  width: 330px;
}

input#edit-preview {
  display: none;
}

/* Content */

div.view-content {
  padding-top: 20px;
}

div.field-content blockquote {
  font-size: 14px;
  left-margin: 2.5em;
  right-margin: 2.5em;
}

div#block-pomp-subtheme-content a:link, a:visited {
  color: var(--pred1);
}

div#block-pomp-subtheme-content a:hover, a:focus {
  text-decoration: underline;
  color: var(--pred2);
}

/* Browse-search */

section.featured > div.container {
  padding: 0px !important;
}

.region.region-featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#block-browse, #block-exposedformsearch-ceremonypage-1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 570px;
  background-color: var(--pgray1);
}

#block-exposedformsearch-ceremonypage-1 {
  margin-left: 10px;
}

/* Search-ceremony */

h1.js-quickedit-page-title.page-title {
}

/* Main content */

#main > div {
  padding: 0px !important;
}

/* Orations */

div.field--name-field-address-content blockquote {
  left-margin: 2.5em;
  right-margin: 2.5em;
  -webkit-margin-start: 2.5em;
  -webkit-margin-end: 2.5em;
  font-size: 14px;
}

/* Footer */

div.region.region-footer {
  padding-top: 20px;
  border-top: 1px dotted var(--pgray2);
  font-size: 12px;
}

div.region.region-footer > div {
  width: 100% !important;
}

footer#footer a:link, a:visited {
  color: var(--pred1);
}

footer#block-honoraryfooter > a:hover, a:focus {
  text-decoration: underline;
  color: var(--pred2);
}

/* Back to top button */

a.btn-btt {
  color: white !important;
}

/* Browse degrees */

.browse-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 1000px !important;
  border: none !important;
}

.browse-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.browse-degree tr td:first-child {
  width: 800px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.browse-degree tr td:last-child {
  vertical-align: top !important;
}

#edit-field-recipient-name-value {
  width: 330px !important;
}

/* View degree */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 1000px !important;
  border: none !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 800px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

/* Rules related to "View address" view. */

.view-address .views-field-title b {
  font-size: 20px !important;
}

/* Rules related to "View degree" view. */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 600px !important;
  border: none !important;
}

.view-degree table strong {
  font-size: 20px !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 400px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

.view-degree table ul {
  list-style-position: inside !important;
}

div.floated-fig {
  float: right;
  margin: 10px;
  padding: 10px;
  background: var(--pgray1);
}

.view-degree figure {
  display: table !important;
  width: 200px !important;
  margin: 10px !important;
  -webkit-margin-before: auto !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: auto !important;
  -webkit-margin-end: 0px !important;
}

.view-degree figcaption {
  display: table-row !important;
  font-size: 12px;
}
