/* Var */

body {
  --pgray1: #F0F0F0;
  --pred1:  #A01300;
  --pred2:  #C01700;
}

/* Global */

body {
  font-family: sans-serif;
  background: white;
}

div {
  box-shadow: none !important;
  border-radius: 0px !important;
}

input, select {
  display: block;
  width: 120px;
  height: 36px;
}

/* Site title */

.site-name {
  font-size: 40px;
}

/* Menu. */

#main-menu {
  margin-bottom: 10px;
  font-size: 13px;
}

/* Slideshow */

#slideshow {
  margin-bottom: 10px;
}

/* Filters */

div.view-filters {
  background-color: var(--pgray1);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 14px;
}

/* Break filter form on year and campus */

div.js-form-item-field-ceremony-year-value {
  display: block;
  clear: both;
}

div.js-form-item-field-list-campus-target-id {
  display: block;
  clear: both;
}

div#edit-actions {
  padding-top: 1em !important;
}

/* Content */

div.region.region-content a {
  color: var(--pred1);
}

/* Browse-search */

section.featured a {
  color: var(--pred1);
}

section.featured > div.container {
  padding: 0px !important;
}

.region.region-featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#block-browse, #block-search {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 570px;
  background-color: var(--pgray1);
}

#block-search {
  margin-left: 10px;
}

/* Main content */

#main > div {
  padding: 0px !important;
}

/* Footer */

div.region.region-footer {
  font-size: 12px;
}

div.region.region-footer > div {
  width: 100% !important;
}

/* Browse degrees */

.browse-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 1000px !important;
  border: none !important;
}

.browse-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.browse-degree tr td:first-child {
  width: 800px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.browse-degree tr td:last-child {
  vertical-align: top !important;
}
/* View degree */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 1000px !important;
  border: none !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 800px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

/* Rules related to "View Degree" view. */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 600px !important;
  border: none !important;
}

.view-degree table strong {
  font-size: 20px !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: white !important;
}

.view-degree tr td:first-child {
  width: 400px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

.view-degree table ul {
  list-style-position: inside !important;
}

div.floated-fig {
  float: right;
  margin: 10px;
  padding: 10px;
  background: var(--pgray1);
}

.view-degree figure {
  display: table !important;
  width: 200px !important;
  margin: 10px !important;
  -webkit-margin-before: auto !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: auto !important;
  -webkit-margin-end: 0px !important;
}

.view-degree figcaption {
  display: table-row !important;
  font-size: 12px;
}
