/* No serif fonts. */

body {
  font-family: sans-serif;
}

/* Site title */

.site-name {
  font-size: 40px;
}

/* Rules related to "Browse Degrees" view. */

.browse-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 600px !important;
  border: none !important;
}

.browse-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: #FFFFFF !important;
}

.browse-degree tr td:first-child {
  width: 400px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.browse-degree tr td:last-child {
  vertical-align: top !important;
}

.browse-degree table ul {
  list-style-position: inside !important;
}

#views-exposed-form-honorary-browse-degrees-page-1 label {
  font-size: 14px% !important;
}

#views-exposed-form-honorary-browse-degrees-page-1 input {
  width: 294px;
}

#views-exposed-form-browse-degrees-2-page-1 label {
  font-size: 14px% !important;
}

#views-exposed-form-browse-degrees-2-page-1 input {
  width: 294px;
}

/* Rules related to "View Degree" view. */

.view-degree table {
  font-size: 14px !important;
  table-layout: fixed !important;
  width: 600px !important;
  border: none !important;
}

.view-degree table strong {
  font-size: 20px !important;
}

.view-degree tr td {
  padding-bottom: 10px !important;
  border: none !important;
  background-color: #FFFFFF !important;
}

.view-degree tr td:first-child {
  width: 400px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.view-degree tr td:last-child {
  vertical-align: top !important;
}

.view-degree table ul {
  list-style-position: inside !important;
}

.view-degree figure {
  display: table !important;
  width: 200px !important;
  -webkit-margin-before: auto !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: auto !important;
  -webkit-margin-end: 0px !important;
}

.view-degree figcaption {
  display: table-row !important;
  font-size: 12px;
}
